body {
  background-color: aliceblue;
}
.design-showing {
  display: none;
}
.dev-showing {
  display: none;
}
.product-showing {
  display: none;
}
#main-page {
  background: url("../img/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#services {
  background: url("../img/services.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-form {
  background: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
